```
# Database files
*.db
instance/*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.env
.env.local
.env.*
.venv/
venv/
ENV/
.env.django
.env.docker
.env.local
.env.sqlite
.env.dev
.env.test
.env.prod
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/
.hypothesis/
```